.spin-flow {
  width: $size-default;
  height: $size-default;
  vertical-align: text-bottom;
  display: flex;
  align-items: center;

  &-dot {
    width: 25%;
    height: 25%;
    background-color: currentColor;
    border-radius: 100%;
    display: inline-block;
    animation: sk-flow 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.3s;
    }

    &:nth-child(2) {
      animation-delay: -0.15s;
    }
  }

  // sizes
  &-sm {
    width: $size-sm;
    height: $size-sm;
  }

  &-lg {
    width: $size-lg;
    height: $size-lg;
  }

  // colors
  &-primary {
    .spin-flow-dot {
      background-color: $primary;
    }
  }

  &-secondary {
    .spin-flow-dot {
      background-color: $secondary;
    }
  }

  &-success {
    .spin-flow-dot {
      background-color: $success;
    }
  }

  &-warning {
    .spin-flow-dot {
      background-color: $warning;
    }
  }

  &-danger {
    .spin-flow-dot {
      background-color: $danger;
    }
  }

  &-info {
    .spin-flow-dot {
      background-color: $info;
    }
  }

  &-light {
    .spin-flow-dot {
      background-color: $light;
    }
  }

  &-dark {
    .spin-flow-dot {
      background-color: $dark;
    }
  }
}

@keyframes sk-flow {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
