.spin-grid {
  width: $size-default;
  height: $size-default;

  &-cube {
    width: 33%;
    height: 33%;
    background-color: currentColor;
    float: left;
    animation: sk-grid-cube 1.3s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.1s;
    }

    &:nth-child(5) {
      animation-delay: 0.2s;
    }

    &:nth-child(6) {
      animation-delay: 0.3s;
    }

    &:nth-child(7) {
      animation-delay: 0s;
    }

    &:nth-child(8) {
      animation-delay: 0.1s;
    }

    &:nth-child(9) {
      animation-delay: 0.2s;
    }
  }

  // sizes
  &-sm {
    width: $size-sm;
    height: $size-sm;
  }

  &-lg {
    width: $size-lg;
    height: $size-lg;
  }

  // colors
  &-primary {
    .spin-grid-cube {
      background-color: $primary;
    }
  }

  &-secondary {
    .spin-grid-cube {
      background-color: $secondary;
    }
  }

  &-success {
    .spin-grid-cube {
      background-color: $success;
    }
  }

  &-warning {
    .spin-grid-cube {
      background-color: $warning;
    }
  }

  &-danger {
    .spin-grid-cube {
      background-color: $danger;
    }
  }

  &-info {
    .spin-grid-cube {
      background-color: $info;
    }
  }

  &-light {
    .spin-grid-cube {
      background-color: $light;
    }
  }

  &-dark {
    .spin-grid-cube {
      background-color: $dark;
    }
  }
}

@keyframes sk-grid-cube {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
