.spin-grow {
  width: $size-default;
  height: $size-default;
  background-color: currentColor;
  border-radius: 100%;
  animation: sk-grow 1s infinite ease-in-out;
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;

  // sizes
  &-sm {
    width: $size-sm;
    height: $size-sm;
  }

  &-lg {
    width: $size-lg;
    height: $size-lg;
  }

  // colors
  &-primary {
    background-color: $primary;
  }

  &-secondary {
    background-color: $secondary;
  }

  &-success {
    background-color: $success;
  }

  &-warning {
    background-color: $warning;
  }

  &-danger {
    background-color: $danger;
  }

  &-info {
    background-color: $info;
  }

  &-light {
    background-color: $light;
  }

  &-dark {
    background-color: $dark;
  }
}

@keyframes sk-grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
