.spin-rotate-plane {
  width: $size-default;
  height: $size-default;
  background-color: currentColor;
  vertical-align: text-bottom;
  animation: sk-rotate-plane 1.2s infinite ease-in-out;

  // sizes
  &-sm {
    width: $size-sm;
    height: $size-sm;
  }

  &-lg {
    width: $size-lg;
    height: $size-lg;
  }

  // colors
  &-primary {
    background-color: $primary;
  }

  &-secondary {
    background-color: $secondary;
  }

  &-success {
    background-color: $success;
  }

  &-warning {
    background-color: $warning;
  }

  &-danger {
    background-color: $danger;
  }

  &-info {
    background-color: $info;
  }

  &-light {
    background-color: $light;
  }

  &-dark {
    background-color: $dark;
  }
}

@keyframes sk-rotate-plane {
  0% {
    transform: perspective(1$size-sm) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(1$size-sm) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1$size-sm) rotateX(-180deg) rotateY(-179.9deg);
  }
}
