// colors
$primary: #321fdb;
$secondary: #ced2d8;
$success: #2eb85c;
$warning: #f9b115;
$danger: #e55353;
$info: #39f;
$light: #ebedef;
$dark: #636f83;

// sizes
$size-default: 1.25rem;
$size-sm: 1rem;
$size-lg: 1.5rem;
