.spin-wander {
  width: 40px;
  height: 40px;
  position: relative;

  &-cube {
    background-color: currentColor;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-cubemove 1.8s infinite ease-in-out;

    &:nth-child(2) {
      animation-delay: -0.9s;
    }
  }

  // sizes
  &-sm {
    width: 20px;
    height: 20px;
  }

  &-lg {
    width: 60px;
    height: 60px;
  }

  //colors
  &-primary {
    .spin-wander-cube {
      background-color: $primary;
    }
  }

  &-secondary {
    .spin-wander-cube {
      background-color: $secondary;
    }
  }

  &-success {
    .spin-wander-cube {
      background-color: $success;
    }
  }

  &-warning {
    .spin-wander-cube {
      background-color: $warning;
    }
  }

  &-danger {
    .spin-wander-cube {
      background-color: $danger;
    }
  }

  &-info {
    .spin-wander-cube {
      background-color: $info;
    }
  }

  &-light {
    .spin-wander-cube {
      background-color: $light;
    }
  }

  &-dark {
    .spin-wander-cube {
      background-color: $dark;
    }
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
